.info-header {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    align-content: center;
}

.info {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    display: flex;
    align-items: center;
}

.info-icon {
    margin: 10px;
    width: 18px;
}

.prom-imagens {
    max-width: 100%;
    height: auto;
}